body, ol, li{
	margin: 0;
	padding: 0;
}
#keyboard {
	width: 1198px;
	margin: 0 auto;
}
#wraper {
	width: 100%;
	overflow: auto;
	text-align: center;
}
ol {
	margin:0;
	padding:0;
	display: inline-block;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
}
li {
	display: inline-block;
	margin:0;
	padding: 120px 0 0 0;
	list-style-type: none;
	width: 23px;
}
li.dies {
	width: 7px;
	box-shadow: -7px 0 black;
	background-color: black;
	position: absolute;
	top: -50PX;
	color: white;
}
.c { background-color: #ffaabb; }
.d { background-color: #f8d3b2; }
.e { background-color: #e6d690; }
.f { background-color: #b9e5b6; }
.g { background-color: #b6effb; }
.a { background-color: #1bc2ff; }
.b { background-color: #ddaadd; }
.pressed {
	background-color: #fff !important;
}
label {
	display: inline-block;
}
#majorThird, #perfectFifth, #minorChord {
	display: none;
}

.chord {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: inline-block;
	background: #fcfff4;
	background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	margin: 5px;
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}
.chord label {
	cursor: pointer;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	left: 4px;
	top: 4px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	background: linear-gradient(to top, #fff 0%, #b5b8bd 100%);
}
.chord label:after {
	opacity: 0;
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: #00bf00;
	background: linear-gradient(to top, #10bf20 0%, #109420 100%);
}
.chord label:hover::after {
	opacity: 0.3;
}
.chord input[type=checkbox]:checked + label:after {
	opacity: 1;
}

input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	background-color: silver;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	width: 200px;
	height:8px;
}
input[type="range"]:focus {
	outline: none;
	background-color: #999;
}

input[type=range]::-webkit-slider-thumb {
	 -webkit-appearance: none;
	appearance: none;
	border-radius: 50%;
	box-shadow:0 3px 5px #000;
	background-color: #aaa;
	background: linear-gradient(to top, #aab 0%, #eee 100%);
	width: 24px;
	height: 24px;
}

#frequencyRange {
    width: 90%;
}

#frequencyDisplay {
    width: 70px;
    border-radius: 1em;
    text-align: center;
}

button {
	background: #eee;
	border: 1px solid #ccc;
    border-radius: 1em;	
}

summary {
	cursor: pointer;
}

#cnv {
	margin: 0 auto;
	display: block;
}