body, ol, li{
	margin: 0;
	padding: 0;
}
#keyboard {
	width: 78em;
}
#wraper {
	width: 100%;
	overflow: auto;
	text-align: center;
}
ol {
	margin:0;
	padding:0;
	display: inline-block;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
li {
	display: inline-block;
	margin:0;
	padding: 8em 0 0 0;
	list-style-type: none;
	width: 1.5em;
}
li.dies {
	width: 0.8em;
	padding: 4em 0 0 0;
	/*box-shadow: -0.4em 0 black;*/
	background-color: black;
	position: absolute;
	top: 0;
	color: white;
}
.c { background-color: #ffaabb; }
	#c0 .a.dies, .c.dies {left: 1.1em;}
.d { background-color: #f8d3b2; }
	.d.dies {left: 2.6em;}
.e { background-color: #e6d690; }
.f { background-color: #b9e5b6; }
	.f.dies {left: 5.6em;}
.g { background-color: #b6effb; }
	.g.dies {left: 7.1em;}
.a { background-color: #1bc2ff; }
	.a.dies {left: 8.6em;}
.b { background-color: #ddaadd; }
.pressed {
	background-color: #fff !important;
}
label {
	display: inline-block;
}
#majorThird, #perfectFifth, #minorChord {
	display: none;
}

.chord {
	width: 1.75em;
	height: 1.75em;
	border-radius: 50%;
	display: inline-block;
	background: #eee;
	margin: 0.3em;
	box-shadow:  0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}
.chord label {
	cursor: pointer;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 1.25em;
	height: 1.25em;
	border-radius: 50%;
	left: 0.25em;
	top: 0.25em;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);
	background: linear-gradient(to top, #fff 0%, #b5b8bd 100%);
}
.chord label:after {
	opacity: 0;
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	background: #00bf00;
	background: linear-gradient(to top, #10bf20 0%, #109420 100%);
}
.chord label:hover::after {
	opacity: 0.3;
}
.chord input[type=checkbox]:checked + label:after {
	opacity: 1;
}

#keyboardspoiler {
	cursor: help;
}
#keyboardinfo {
	display: none;
	text-align: center;
}
#keyboardinfo.show{
	display: block;
}
#keyboardimage {
	width: 100%;
}

.stave{
	padding: 4em 0;
	position: relative;
}
#trebleclef{
	top: 3.5em;
	position: absolute;
}
.note {
	top: 0;
	padding: 0;
	position: absolute;
}
.noteDies {
	top: 0;
	visibility: hidden;
	padding: 0;
	position: absolute;
}
#note1 {
	top: 6em;
	left: 5em;
}
#note2 {
	top: 4.5em;
	left: 8em;
}
#note3 {
	top: 3em; 
	left: 11em;
}
hr {
	height: .125em;
	background-color: grey;
	border: 0;
	margin: .875em 0;
}
hr.additional {
	background-color: #ddd;	
}

input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: silver;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	width: 15em;
	height: 0.5em;
}
input[type="range"]:focus {
	outline: none;
	background-color: #999;
}

input[type=range]::-webkit-slider-thumb {
	 -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 50%;
	box-shadow:0 0.2em 0.4em #000;
	background-color: #aaa;
	background: linear-gradient(to top, #aab 0%, #eee 100%);
	width: 1.75em;
	height: 1.75em;
}

#frequencyRange {
    width: 90%;
}

#frequencyDisplay {
    width: 5em;
    border-radius: 1em;
    text-align: center;
}

button {
	background: #eee;
	border: 1px solid #ccc;
    border-radius: 1em;	
}

button:focus {
	outline: none;
	border-color: #999;
}

#cnv {
	margin: 0 auto;
	display: block;
}

@media (max-width: 600px) {
	
	#wraper {
		width: auto;
		overflow: inherit;
		text-align: center;
	}

	#keyboard {
		width: auto;
		margin: 0 auto;
	}
}