body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #BCC8DB;
}
#controller {
	height: 6em;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.digit {
	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 1em 0;
	font-size: 1.5em;
	line-height: 2em;
	color: white;
	background-color: #6D89B8;
	border: 0 solid orange;
	border-radius: .3em;
	box-shadow: 0 .1em .08em #79a;
	transition-delay: 0s;
	transition-duration: 200ms;
	transition-property: border, margin;
	transition-timing-function: ease;
}
.first {
	transition-duration: 200ms;
	margin: 0;
	border-top: .5em solid orange;
	background-color: #686A99;
}
.second {
	transition-duration: 200ms;
	margin: 0;
	border-bottom: .5em solid orange;
	background-color: #686A99;
}

#gamefield {
	margin: 0 auto;
}
table table td {
	position: relative;
	width: 2.5em;
	height: 2.5em;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	background-color: #E5E1EE;
}

.over {
	position: absolute;
	top: 0;
	left: 0;
	width: 2.5em;
	height: 2.5em;
	cursor: pointer;
	background-color: transparent;
}
.over:active {
	background-color: red;
}

.tic {
	background-color: rgba(240,70,31,.5);
}
.tac {
	background-color: rgba(52,130,236,.5);
}

.wrong
{
	animation:invalid .5s;
	-webkit-animation:invalid .5s;
}

	@keyframes invalid
	{
	0%   {left:8px;}
	10%  {left:-8px;}
	30%  {left:8px;}
	60%  {left:-8px;}
	100% {left:0px;}
	}

	@-webkit-keyframes invalid /* Safari and Chrome */
	{
	0%   {left:8px;}
	10%  {left:-8px;}
	30%  {left:8px;}
	60%  {left:-8px;}
	100% {left:0px;}
	}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
