body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #BCC8DB;
}
#controller {
	height: 6em;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.digit {
	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 1em 0;
	font-size: 1.5em;
	line-height: 2em;
	color: white;
	background-color: #6D89B8;
	border: 0 solid orange;
	border-radius: .3em;
	box-shadow: 0 .1em .08em #79a;
	transition-delay: 0s;
	transition-duration: 200ms;
	transition-property: border, margin;
	transition-timing-function: ease;
}
.first {
	transition-duration: 200ms;
	margin: 0;
	border-top: .5em solid orange;
	background-color: #686A99;
}
.second {
	transition-duration: 200ms;
	margin: 0;
	border-bottom: .5em solid orange;
	background-color: #686A99;
}

#gamefield { margin: 0 auto; }

td { position: relative; }
table table td {
	width: 2.5em;
	height: 2.5em;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	background-color: #E5E1EE;
}

.over {
	position: absolute;
	top: 0;
	left: 0;
	width: 2.5em;
	height: 2.5em;
	cursor: pointer;
	background-color: transparent;
	box-shadow: inset 0 0 0 black;
	transition: box-shadow 100ms;
}
	.over:active {
		box-shadow: inset 0 0 .5em gray;
	}

.tic { background: url(../images/tic.svg); }
.tac { background: url(../images/tac.svg); }
.tic-full::after { 
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	width: 11.85em;
	height: 11.85em;
	content: '';
	background: url(../images/tic.svg); 
	background-size: 100%;
}
.tac-full::after { 
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	width: 11.85em;
	height: 11.85em;
	content: '';
	background: url(../images/tac.svg); 
	background-size: 100%;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

footer {
	background: transparent;
	margin: 2em;
}
nav a span {
	background: #BCC8DB;
}
nav a span::before {
	background: #686A99;
}

nav a:hover span::before,
nav a:focus span::before {
	background: #BCC8DB;	
}
nav a:hover span,
nav a:focus span {
	background: #E5E1EE;
}