/*
div#checks
	label.check
		input checked
*/
#checks, #unit-circle {
	display: inline-block;
}
#checks {
	margin: 1em;
}

.check {
	color: white;
	font-weight: bold;
	cursor: pointer;
	display: block;
	position: relative;
	width: 6em;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0 0 2.5em;
	border-radius: 3px;
	margin: .3em 0;
}
.sinL { background: #2392f2; }
.cosL { background: #eb0036; }
.tanL { background: #39ce33; }
.ctnL { background: #ffc134; }

.check input {
	visibility: hidden;
	display: block;
	position: absolute;
	left: 0;
	width: 2em;
	height: 2em;
}
.check input:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 1.2em;
	height: .5em;
	background: transparent;
	top: .6em;
	left: .5em;
	border: .4em solid #fff;
	border-top: none;
	border-right: none;
	transform: rotate(-50deg);
}

.check input:hover:after {
	visibility:visible;	
	opacity: 0.5;
}

.check input:checked:after {
	visibility:visible;
	opacity: 1;
}

